@tailwind base;
@tailwind components;
@tailwind utilities;  

:root {
  --foreground-rgb: 0, 0, 0;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
   
  }
} 
/* 
* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: rgb(224, 155, 17);
  color: white;
  /* box-sizing: border-box; */
  padding: 1rem;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./Components/Assets/abstarct-dark-color-mixiture-splashes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
} */
